.header {
  height: 60px;
  background-color: #457197;
  color: white;
  padding: 0 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav a {
  color: white;
  margin-left: 1rem;
  text-decoration: none;
  font-weight: bold;
}
